<div class="footer-container">
    <footer>
        <div class="footer-top">
            <ul>
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Features</a></li>
                <li><a href="#" class="nav-link">FAQs</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
            </ul>
            <div class="contact-details">
                <a href="mailto:rakesh246808@gmail.com"><i class='bx bx-envelope'></i>rakesh246808@gmail.com</a>
                <a href="https://github.com/RAKESH-PATEL57"><i class='bx bxl-github'></i>https://github.com/RAKESH-PATEL57</a>
            </div>
        </div>
        <p>&copy 2024 RK</p>
    </footer>
</div>
