<div class="header-container">
    <header>
        <a href="/">Notes</a>
        <ul>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Features</a></li>
            <li><a href="#" class="nav-link">FAQs</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
        </ul>

        <div class="btns">
            <a href="/auth/google" type="button" class="btn">Sign Up</a>
            <a href="/auth/google" type="button" class="btn">Sign In</a>
        </div>
    </header>
</div>
